<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="DB_A49337_homeeserviceeConnectionString" connectionString="Data Source=SQL5033.site4now.net;Initial Catalog=DB_A49337_homeeservicee;Persist Security Info=True;User ID=DB_A49337_homeeservicee_admin;Password=bis-2019"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.6.1" />
      <httpRuntime targetFramework="4.6.1" />
    </system.web>

</configuration>
